{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>タスクの詳細</title>
    <link rel="stylesheet" href="{% static 'todo/css/default.css' %}">
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>詳細ページ</h1>
    <ul>
      <li>投稿日時: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>期限: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li style="color: green;">状態: 完了</li>
      {% else %}
      <li style="color: red;">状態: 未完了</li>
      {% endif %}
    </ul>

    <div>
      <a href="{% url 'index' %}">トップページへ戻る</a>
      | 
      <a href="{% url 'update' task.id %}">編集</a>
      <a href="{% url 'close' task.id %}">完了にする</a>
      <a href="{% url 'delete' task.id %}">削除</a>
    </div>
  </body>

</html>
