{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>タスクの編集</title>
    <link rel="stylesheet" href="{% static 'todo/css/default.css' %}">
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>タスクの編集</h1>
    <p>以下のフォームからタスクを編集できます。</p>
    <form action="{% url 'update' task.id%}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タイトル</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title" value="{{ task.title }}">
      </div>
      <div>
        <label for="dueInput">期限：</label><br>
        <input id="dueInput" name="due_at" type="datetime-local" value="{{ task.due_at |date:"Y-m-d H:i" }}">
      </div>
      <div>
        <button type="submit">変更</button>
      </div>
    </form>
    <br>
    <a href="{% url 'detail' task.id %}">変更せずに戻る</a>
  </body>

</html>
